.content {
    margin: 20px auto;
    width: 500px;
    border: 1px solid #fa0;
    padding: 15px;
    border-radius: 12px;
}

.content__item {
    border: 1px solid #318d2b;
    padding: 15px;
    border-radius: 12px;
}

.content__item:not(:last-child) {
    margin-bottom: 15px;
}
